body { background: #47f06f; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 42px; display: flex; }
.block-database-0 { color: #8efb2e; font-size: 18px; margin-bottom: 5px; }
.block-email-1 { color: #d34df0; font-size: 20px; margin-bottom: 5px; }
.block-validator-2 { color: #581ad2; font-size: 18px; margin-bottom: 5px; }
.block-validator-3 { color: #d865fe; font-size: 20px; margin-bottom: 5px; }
.block-shipping-4 { color: #5667b5; font-size: 17px; margin-bottom: 5px; }
.block-email-5 { color: #b290a7; font-size: 16px; margin-bottom: 5px; }